In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import collections

In [3]:
transaction=pd.read_csv('../data/processed/transaction_merged.csv',parse_dates=['transaction_date','membership_expire_date'])

reduce Datatype

In [4]:
def reducedatatype(df):
    int_col = list(df.select_dtypes(include=[int]).columns)
    for col in int_col:
        if((np.min(df[col]) >= -127) and (np.max(df[col]) <= 127)):
            df[col] = df[col].astype(np.int8)
        elif((np.min(df[col]) >= -32768) and (np.max(df[col]) <= 32768)):
            df[col] = df[col].astype(np.int16)
        elif((np.min(df[col]) >= -2147483647) and (np.max(df[col]) <= 2147483647)):
            df[col] = df[col].astype(np.int32)
        else:
            df[col] = df[col].astype(np.int64)
    int_float = list(df.select_dtypes(include=[float]).columns)
    for col in int_float:
        df[col] = df[col].astype(np.float32)

In [5]:
reducedatatype(transaction)

In [67]:
# feature sum of  unique payment method id for a user
change_in_payment_method = transaction.groupby('msno')['payment_method_id'].nunique()

In [34]:
# feature count the number of transaction id for a user
count_transaction = transaction.groupby('msno')['payment_method_id'].count()

In [35]:
# feature max of payment method id for a user
max_payment_method = transaction.groupby('msno')['payment_method_id'].max()

In [36]:
# feature avg payment plan for user
avg_plan_days = transaction.groupby('msno')['payment_plan_days'].mean()

In [37]:
# feature sum payment plan for user
sum_plan_days = transaction.groupby('msno')['payment_plan_days'].sum()

In [68]:
# feature unique sum payment plan for user
change_in_plan_days = transaction.groupby('msno')['payment_plan_days'].nunique()

In [39]:
# feature avg plan list price for user
avg_list_price = transaction.groupby('msno')['plan_list_price'].mean()

In [40]:
# feature sum plan list price for user
sum_list_price = transaction.groupby('msno')['plan_list_price'].sum()

In [69]:
# feature unique sum plan list price for user
change_in_list_price = transaction.groupby('msno')['plan_list_price'].nunique()

In [42]:
# feature mean actual amount paid  for user
avg_amt_paid = transaction.groupby('msno')['actual_amount_paid'].mean()

In [43]:
# feature sum actual amount paid  for user
sum_amt_paid = transaction.groupby('msno')['actual_amount_paid'].sum()

In [70]:
# feature unique sum actual amount paid  for user
change_in_amt_paid = transaction.groupby('msno')['actual_amount_paid'].nunique()

In [99]:
# feature avg discount
avg_discount =  avg_amt_paid - avg_list_price
avg_discount.rename('avg_discount',inplace=True)

msno
+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=    0.000000
+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=    0.000000
+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=    0.000000
+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=    7.095238
+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=    5.518519
                                                  ...
zzz9+ZF4+GMyt63oU8xfjo1EkvRqH5OINlES0RUJI6I=    0.000000
zzzF1KsGfHH3qI6qiSNSXC35UXmVKMVFdxkp7xmDMc0=    0.000000
zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=    0.000000
zzztsqkufVj9DPVJDM3FxDkhlbCL5z4aiYxgPSGkIK4=    0.000000
zzzyOgMk9MljCerbCCYrVtvu85aSCiy7yCMjAEgNYMs=    0.000000
Name: avg_discount, Length: 2426143, dtype: float64

In [104]:
# feature sum discount for user
sum_discount =  sum_amt_paid - sum_list_price
sum_discount.rename('sum_discount',inplace=True)

msno
+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=      0
+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=      0
+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=      0
+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=    149
+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=    149
                                               ...
zzz9+ZF4+GMyt63oU8xfjo1EkvRqH5OINlES0RUJI6I=      0
zzzF1KsGfHH3qI6qiSNSXC35UXmVKMVFdxkp7xmDMc0=      0
zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=      0
zzztsqkufVj9DPVJDM3FxDkhlbCL5z4aiYxgPSGkIK4=      0
zzzyOgMk9MljCerbCCYrVtvu85aSCiy7yCMjAEgNYMs=      0
Name: sum_discount, Length: 2426143, dtype: int64

In [146]:
# feature Last is_cancel flag
last_cancel_status = transaction.groupby('msno')['is_cancel'].nth(-1)
last_cancel_status.rename('last_cancel_status',inplace=True)

msno
+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=    0
+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=    0
+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=    0
+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=    0
+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=    0
                                               ..
zzz9+ZF4+GMyt63oU8xfjo1EkvRqH5OINlES0RUJI6I=    0
zzzF1KsGfHH3qI6qiSNSXC35UXmVKMVFdxkp7xmDMc0=    0
zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=    0
zzztsqkufVj9DPVJDM3FxDkhlbCL5z4aiYxgPSGkIK4=    0
zzzyOgMk9MljCerbCCYrVtvu85aSCiy7yCMjAEgNYMs=    0
Name: last_cancel_status, Length: 2426143, dtype: int8

In [148]:
# feature Last auto_renew flag
last_auto_renew = transaction.groupby('msno')['is_auto_renew'].nth(-1)
last_auto_renew.rename('last_auto_renew',inplace=True)

msno
+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=    0
+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=    0
+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=    1
+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=    1
+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=    1
                                               ..
zzz9+ZF4+GMyt63oU8xfjo1EkvRqH5OINlES0RUJI6I=    1
zzzF1KsGfHH3qI6qiSNSXC35UXmVKMVFdxkp7xmDMc0=    1
zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=    1
zzztsqkufVj9DPVJDM3FxDkhlbCL5z4aiYxgPSGkIK4=    0
zzzyOgMk9MljCerbCCYrVtvu85aSCiy7yCMjAEgNYMs=    0
Name: last_auto_renew, Length: 2426143, dtype: int8

In [56]:
transaction["autorenew_not_cancel"]=((transaction['is_auto_renew'] == 1) and (transaction['is_cancel'] == 0)).astype(np.int8)
autorenew_not_cancel=transaction.groupby('msno')['autorenew_not_cancel'].min()

In [76]:
# feature days_diff_trans_exp - trans and expirate date difference
transaction['days_diff'] = (transaction['membership_expire_date']-transaction['transaction_date']).dt.days

In [78]:
avg_days_diff_trans_exp = transaction.groupby('msno')['days_diff'].mean()

In [161]:
features=[change_in_payment_method,count_transaction,max_payment_method,avg_plan_days,sum_plan_days,change_in_plan_days,
          avg_list_price,sum_list_price,change_in_list_price,avg_amt_paid,sum_amt_paid,change_in_amt_paid,avg_discount,
          sum_discount,last_cancel_status,last_auto_renew,
          avg_days_diff_trans_exp]

In [162]:
from functools import reduce

In [163]:
transaction_feature = reduce(lambda left,right: pd.merge(left,right,on='msno'),features)

In [170]:
features_name=['change_in_payment_method','total_transaction','max_payment_method','avg_plan_days','sum_plan_days','change_in_plan_days',
          'avg_list_price','sum_list_price','change_in_list_price','avg_amt_paid','sum_amt_paid','change_in_amt_paid','avg_discount',
          'sum_discount','last_cancel_status','last_auto_renew',
          'avg_days_diff_trans_exp']

In [172]:
transaction_feature.columns=features_name

In [183]:
transaction_feature['autorenew_not_cancel_flag'] = ((transaction_feature['last_auto_renew']==1) & (transaction_feature['last_cancel_status']==0)).astype(np.int8)

In [184]:
transaction_feature['not_autorenew_cancel_flag'] = ((transaction_feature['last_auto_renew']==0) & (transaction_feature['last_cancel_status']==1)).astype(np.int8)

,change_in_payment_method,total_transaction,max_payment_method,avg_plan_days,sum_plan_days,change_in_plan_days,avg_list_price,sum_list_price,change_in_list_price,avg_amt_paid,sum_amt_paid,change_in_amt_paid,avg_discount,sum_discount,last_cancel_status,last_auto_renew,avg_days_diff_trans_exp,autorenew_not_cancel_flag,not_autorenew_cancel_flag
msno,,,,,,,,,,,,,,,,,,,
+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=,1,1,35,7.000000,7,1,0.000000,0,1,0.000000,0,1,0.000000,0,0,0,5.000000,0,0
+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,2,2,38,402.500000,805,2,1693.500000,3387,2,1693.500000,3387,2,0.000000,0,0,0,440.500000,0,0
+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,1,5,41,30.000000,150,1,99.000000,495,1,99.000000,495,1,0.000000,0,0,1,30.000000,1,1
+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,1,21,39,28.714286,603,3,141.904762,2980,2,149.000000,3129,1,7.095238,149,0,1,49.095238,1,1
+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,1,27,41,28.888889,780,2,143.481481,3874,2,149.000000,4023,1,5.518519,149,0,1,30.407407,1,1
++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,1,13,41,30.000000,390,1,149.000000,1937,1,149.000000,1937,1,0.000000,0,0,1,30.461538,1,1
++/Gw1B9K+XOlB3hLTloeUK2QlCa2m+BJ8TrzGf7djI=,2,9,40,45.444444,409,4,215.222222,1937,3,231.777778,2086,2,16.555556,149,0,0,50.444444,0,0
++/TR7WI15q2ZCtOXmoap7jR+kEhbMVE5swOqsfqpqI=,1,9,11,27.000000,243,3,132.444444,1192,2,149.000000,1341,1,16.555556,149,0,1,30.555556,1,1
++/UDNo9DLrxT8QVGiDi1OnWfczAdEwThaVyD0fXO50=,1,21,39,28.714286,603,3,141.904762,2980,2,149.000000,3129,1,7.095238,149,0,1,53.095238,1,1
++/ZHqwUNa7U21Qz+zqteiXlZapxey86l6eEorrak/g=,1,23,14,22.173913,510,2,110.130435,2533,2,149.000000,3427,1,38.869565,894,0,1,33.391304,1,1

In [186]:
transaction_feature.shape

(2426143, 19)

In [187]:
transaction_feature.to_csv('../data/processed/transaction_features_final.csv')

In [4]:
transaction = pd.read_csv('../data/processed/transaction_merged.csv',parse_dates=['transaction_date','membership_expire_date'])

In [5]:
transaction[(transaction['membership_expire_date'] == '1970-01-01')]

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
2147,feoqKszFUCDjm6c4nsByAWO4h85yLoOj0iNHW573mM8=,17,60,0,0,0,2017-01-29,1970-01-01,0
7688,W27NhBZTYj1B/InWGtogntbg2gcQokhKF8ZVQrbikIY=,17,60,0,0,0,2017-02-05,1970-01-01,0
44736,q/4Lm0XD+X6nSAlAhzfNeHTzfV/QW4TE0nFSNuAe7eg=,17,60,0,0,0,2017-01-21,1970-01-01,0
45658,sa2BaBSzbcdHRoz6ETLYrzeDP8HbaYzg3DlEW/5/LEw=,17,120,0,0,0,2017-01-18,1970-01-01,0
101724,w3PkMX9MEoG3eJkUq7IOf845wSnAUwv3ixEvyp+5gmQ=,17,120,0,0,0,2017-01-26,1970-01-01,0
...,...,...,...,...,...,...,...,...,...
21433009,j1buGGIIyY9+xR0f0ddE0MlISRDfCTWTaKjHABeIMi0=,24,30,149,149,1,2015-01-31,1970-01-01,1
21434337,exHi8NwOgBqwOI5l+oLBtXuKboZPTH1zChRuqLWFxs8=,17,240,0,0,0,2017-01-29,1970-01-01,0
21458756,nZuSRjvxkB3YO5UeQ1JZ0qRW3RyauJEFwDwRR0e7OIM=,17,60,0,0,0,2017-01-14,1970-01-01,0
21501875,luiVUN7r3PYJyAx7HPcXBFz7CQVxBUczmAXMecwP8j0=,17,240,0,0,0,2017-01-27,1970-01-01,0
21529667,zf19K0h2CLG8o0ieBjPyn9dC+hRNSpLb00LB0a7gUno=,17,60,0,0,0,2017-01-16,1970-01-01,0

In [6]:
transaction_sort=transaction.sort_values(['msno','transaction_date'])
transaction_sort.groupby('msno')

In [7]:
Last_transaction = transaction_sort.groupby('msno').nth(-1)

In [8]:
Last_transaction[Last_transaction['membership_expire_date'] == '1970-01-01']

,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
msno,,,,,,,,
+7/gCRCtmTgzCPPG9L4XFfugILr276U9uJPSa+KgLNE=,17,120,0,0,0,2017-01-24,1970-01-01,0
+7nq1DxnuoR4OyHv2+dXcxuku9wFefkLoJOGAPt95zM=,17,60,0,0,0,2017-02-03,1970-01-01,0
+FsI/t6m9+yVmODq3RzY9wNd5ZmRyi/uSRot8eTkFZA=,17,60,0,0,0,2017-01-26,1970-01-01,0
+NTqmvxq7rww7DC6EzVx9yE1zxs+rCoXHS1LxgxPFxU=,29,30,180,180,1,2017-02-10,1970-01-01,1
+UCazyXdQlCiGNYWgtN/ZwAB9BncFda59opilAp/9Xw=,17,240,0,0,0,2017-01-31,1970-01-01,0
...,...,...,...,...,...,...,...,...
yVQAktVzB5f/0T7KIfBg+gsWWlh1YFGky1b/6KyOun0=,17,60,0,0,0,2017-02-01,1970-01-01,0
yxh3Z2mgZuDaFxUOgXcpEn9usZxN2yq/8DYxli3Gdm4=,17,240,0,0,0,2017-01-22,1970-01-01,0
zPTCoglhMrC/CT5DQ1iPNx8z2qgbuZjB8iai0slC/nA=,17,60,0,0,0,2017-01-24,1970-01-01,0
zpeOWND9kr1rQKnke549zGzcAzKFrr3j+nXipeqRohA=,17,120,0,0,0,2017-01-25,1970-01-01,0
zzoJer5lsFQdtWLIBYZGNVTVAeGZTWbSAxBxl4dkjIY=,24,30,149,149,1,2015-01-23,1970-01-01,1

In [11]:
Last_transaction.membership_expire_date = np.where(Last_transaction.membership_expire_date.eq('1970-01-01'), Last_transaction.transaction_date, Last_transaction.membership_expire_date)

In [12]:
Last_transaction[Last_transaction['membership_expire_date'] == '1970-01-01']

Empty DataFrame
Columns: [payment_method_id, payment_plan_days, plan_list_price, actual_amount_paid, is_auto_renew, transaction_date, membership_expire_date, is_cancel]
Index: []

In [17]:
Last_transaction['last_transaction_Exp_year'] = Last_transaction['membership_expire_date'].dt.year
Last_transaction['Days_Diff_trans_expire_date'] = (Last_transaction['membership_expire_date'] - Last_transaction['transaction_date']).dt.days

In [18]:
Last_transaction[['Days_Diff_trans_expire_date','last_transaction_Exp_year']].to_csv('../data/processed/transaction_recalculated_feature.csv')

In [6]:
Last_transaction[Last_transaction['last_transaction_Exp_year']< 1999]

,msno,Days_Diff_trans_expire_date,last_transaction_Exp_year
5398,+7/gCRCtmTgzCPPG9L4XFfugILr276U9uJPSa+KgLNE=,-17190,1970
5874,+7nq1DxnuoR4OyHv2+dXcxuku9wFefkLoJOGAPt95zM=,-17200,1970
10657,+FsI/t6m9+yVmODq3RzY9wNd5ZmRyi/uSRot8eTkFZA=,-17192,1970
15157,+NTqmvxq7rww7DC6EzVx9yE1zxs+rCoXHS1LxgxPFxU=,-17207,1970
19154,+UCazyXdQlCiGNYWgtN/ZwAB9BncFda59opilAp/9Xw=,-17197,1970
...,...,...,...
2370239,yVQAktVzB5f/0T7KIfBg+gsWWlh1YFGky1b/6KyOun0=,-17198,1970
2387042,yxh3Z2mgZuDaFxUOgXcpEn9usZxN2yq/8DYxli3Gdm4=,-17188,1970
2404556,zPTCoglhMrC/CT5DQ1iPNx8z2qgbuZjB8iai0slC/nA=,-17190,1970
2420058,zpeOWND9kr1rQKnke549zGzcAzKFrr3j+nXipeqRohA=,-17191,1970
2426029,zzoJer5lsFQdtWLIBYZGNVTVAeGZTWbSAxBxl4dkjIY=,-16458,1970

In [3]:
transaction[transaction['membership_expire_date'] < '2010']

NameError: name 'transaction' is not defined

In [6]:
transaction.head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,2015-09-30,2015-11-01,0
1,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,41,30,149,149,1,2015-09-30,2015-10-31,0
2,UkDFI97Qb6+s2LWcijVVv4rMAsORbVDT2wNXF0aVbns=,41,30,129,129,1,2015-09-30,2016-04-27,0
3,M1C56ijxozNaGD0t2h68PnH2xtx5iO5iR2MVYQB6nBI=,39,30,149,149,1,2015-09-30,2015-11-28,0
4,yvj6zyBUaqdbUQSrKsrZ+xNDVM62knauSZJzakS9OW4=,39,30,149,149,1,2015-09-30,2015-11-21,0

In [15]:

transaction.query('plan_list_price == actual_amount_paid')

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,2015-09-30,2015-11-01,0
1,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,41,30,149,149,1,2015-09-30,2015-10-31,0
2,UkDFI97Qb6+s2LWcijVVv4rMAsORbVDT2wNXF0aVbns=,41,30,129,129,1,2015-09-30,2016-04-27,0
3,M1C56ijxozNaGD0t2h68PnH2xtx5iO5iR2MVYQB6nBI=,39,30,149,149,1,2015-09-30,2015-11-28,0
4,yvj6zyBUaqdbUQSrKsrZ+xNDVM62knauSZJzakS9OW4=,39,30,149,149,1,2015-09-30,2015-11-21,0
...,...,...,...,...,...,...,...,...,...
22978750,zwF50wwaJI2TBKWhB42HRBJ6EQK0jgSo1Xmwb9Jq3SU=,32,180,536,536,0,2017-02-15,2017-08-17,0
22978751,zx/h5MzQQmsSat04wSfGpHp6N8aWLLwM1+7OV7ujmPY=,41,30,149,149,1,2017-03-06,2017-04-06,0
22978752,zxvgjIKjy18Fm+cIWUfYKr68z09+ILBxuMW0DnbeUZ8=,41,30,99,99,1,2017-03-08,2017-04-08,0
22978753,zzNhkExbpzmpjp9tXefiCUBtgNLgS+vZE7fFfTRDJVc=,38,30,149,149,0,2017-03-18,2017-04-17,0
22978754,zzZmdSzz7J9oyC/5nHr/HBvWg6k+p2W15b6lt/VKUQE=,32,180,699,699,0,2016-12-12,2017-06-13,0