In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import collections

In [3]:
import os
print(os.listdir("../data/raw"))

['.gitkeep', 'members_v3.csv', 'sample_submission_v2.csv', 'sample_submission_zero.csv', 'train.csv', 'train_v2.csv', 'transactions.csv', 'transactions_v2.csv', 'user_label_201703.csv', 'user_logs.csv', 'user_logs_v2.csv']

In [4]:
def reducedatatype(df):
    int_col = list(df.select_dtypes(include=[int]).columns)
    for col in int_col:
        if((np.min(df[col]) >= -127) and (np.max(df[col]) <= 127)):
            df[col] = df[col].astype(np.int8)
        elif((np.min(df[col]) >= -32768) and (np.max(df[col]) <= 32768)):
            df[col] = df[col].astype(np.int16)
        elif((np.min(df[col]) >= -2147483647) and (np.max(df[col]) <= 2147483647)):
            df[col] = df[col].astype(np.int32)
        else:
            df[col] = df[col].astype(np.int64)
    int_float = list(df.select_dtypes(include=[float]).columns)
    for col in int_float:
        df[col] = df[col].astype(np.float32)

In [5]:
user_log_mar = pd.read_csv('../data/raw/user_logs_v2.csv',parse_dates=['date'])

In [ ]:
chunksize = 10**6
first_chunk = True
for chunk in pd.read_csv('../data/raw/user_logs.csv',chunksize=chunksize,parse_dates=['date']):
    chunk_feb = chunk[(chunk['date']>='2017-02-01') & (chunk['date']<='2017-02-28')]
    chunk_jan = chunk[(chunk['date']>='2017-01-01') & (chunk['date']<='2017-01-31')]
    if(first_chunk == True):
        chunk_feb.to_csv('../data/processed/feb_log.csv', mode='a',index=False)
        chunk_jan.to_csv('../data/processed/jan_log.csv', mode='a',index=False)
        first_chunk = False
    else:
        chunk_feb.to_csv('../data/processed/feb_log.csv', mode='a', header=False,index=False)
        chunk_jan.to_csv('../data/processed/jan_log.csv', mode='a', header=False,index=False)

In [6]:
user_log_jan = pd.read_csv('../data/processed/jan_log.csv',parse_dates=['date'])

In [7]:
user_log_feb = pd.read_csv('../data/processed/feb_log.csv',parse_dates=['date'])

In [8]:
user_log_merge = pd.concat([user_log_jan,user_log_feb,user_log_mar],ignore_index=True)

In [10]:
user_log_jan.describe()

,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
count,1.790809e+07,1.790809e+07,1.790809e+07,1.790809e+07,1.790809e+07,1.790809e+07,1.790809e+07
mean,6.512863e+00,1.581655e+00,1.008753e+00,1.143718e+00,3.067074e+01,2.975982e+01,8.035903e+03
std,1.343888e+01,3.804299e+00,1.942348e+00,2.907919e+00,4.207879e+01,3.251800e+01,1.014903e+04
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e-03
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.000000e+00,8.000000e+00,1.963600e+03
50%,2.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.700000e+01,1.900000e+01,4.698940e+03
75%,7.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,3.800000e+01,3.900000e+01,1.018407e+04
max,6.437000e+03,1.077000e+03,7.470000e+02,1.125000e+03,1.524800e+04,1.887000e+03,3.743671e+06