In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import collections
import os
from pathlib import Path

In [ ]:
print(os.listdir("../data/raw"))

In [ ]:
def reducedatatype(df):
    int_col = list(df.select_dtypes(include=[int]).columns)
    for col in int_col:
        if((np.min(df[col]) >= -127) and (np.max(df[col]) <= 127)):
            df[col] = df[col].astype(np.int8)
        elif((np.min(df[col]) >= -32768) and (np.max(df[col]) <= 32768)):
            df[col] = df[col].astype(np.int16)
        elif((np.min(df[col]) >= -2147483647) and (np.max(df[col]) <= 2147483647)):
            df[col] = df[col].astype(np.int32)
        else:
            df[col] = df[col].astype(np.int64)
    int_float = list(df.select_dtypes(include=[float]).columns)
    for col in int_float:
        df[col] = df[col].astype(np.float32)

In [ ]:
def process_user_log1(df):
    grouped= df.groupby('msno') # not sorting results in a minor speedup
    func = {'date':['min','max','count'],'num_25':['sum','count'],'num_50':['sum','count'], 
            'num_75':['sum','count'],'num_985':['sum','count'],
           'num_100':['sum','count'],'num_unq':['sum','count'],'total_secs':['sum','count']}
    groupdf = grouped.agg(func)
    return groupdf

In [ ]:
def process_user_log_with_mean(df):
    df
    grouped = df.sort_values(['date']).groupby('msno')
    func = {'date_min':['min'],'date_max':['max'],'date_count':['count'],'num_25_sum':['sum'],'num_25_mean':['num_25_sum'/'date_count'],'num_50_sum':['sum'],
            'num_50_mean':['num_50_sum'/'date_count'], 'num_75_sum':['sum'],'num_75_mean':['num_75_sum'/'date_count'],'num_985_sum':['sum'],'num_985_mean':['num_985_sum'/'date_count'],
           'num_100_sum':['sum'],'num_100_mean':['num_100_sum'/'date_count'],'num_unq_sum':['sum'],'num_unq_mean':['num_unq_sum'/'date_count'],'total_secs_sum':['sum'],'total_secs_mean':['total_secs_sum'/'date_count']}
    groupdf = grouped.agg(func)
    return groupdf

In [2]:
def process_user_log(df):
    grouped= df.sort_values(['date']).groupby('msno') 
    func = {'date':['min','max','count'],'num_25':['sum','mean'],'num_50':['sum','mean'], 
            'num_75':['sum','mean'],'num_985':['sum','mean'],
           'num_100':['sum','mean'],'num_unq':['sum','mean'],'total_secs':['sum','mean']}
    groupdf = grouped.agg(func)
    return groupdf

In [ ]:
path20151st = Path('../data/raw/20151st.csv')
path20152nd = Path('../data/raw/20152nd.csv')
path20153rd = Path('../data/raw/20153rd.csv')
path20154th = Path('../data/raw/20154th.csv')
path20161st = Path('../data/raw/20161st.csv')
path20162nd = Path('../data/raw/20162nd.csv')
path20163rd = Path('../data/raw/20163rd.csv')
path20164th = Path('../data/raw/20164th.csv')
path2017 = Path('../data/raw/2017.csv')

In [3]:
dtype_cols = {'msno': object, 'date':np.int64, 'num_25': np.int32, 'num_50': np.int32, 
             'num_75': np.int32, 'num_985': np.int32, 'num_100': np.int32, 
              'num_unq': np.int32, 'total_secs': np.float32}

In [ ]:
chunksize = 4e7
first_chunk = True
for chunk in pd.read_csv('../data/raw/user_logs.csv',chunksize=chunksize,parse_dates=['date'],index_col=['msno'],dtype=dtype_cols):
        if(len(chunk.loc[(chunk['date']>='2015-01-01') & (chunk['date']<'2015-04-01')].index) != 0):
            if(path20151st.is_file() == False):    
                chunk.loc[(chunk['date']>='2015-01-01') & (chunk['date']<'2015-04-01')].to_csv('../data/raw/20151st.csv',mode='a')
            else:
                chunk.loc[(chunk['date']>='2015-01-01') & (chunk['date']<'2015-04-01')].to_csv('../data/raw/20151st.csv',mode='a',header=False)
        if(len(chunk.loc[(chunk['date']>='2015-04-01') & (chunk['date']<'2015-07-01')].index) != 0):
            if(path20152nd.is_file()== False): 
                chunk.loc[(chunk['date']>='2015-04-01') & (chunk['date']<'2015-07-01')].to_csv('../data/raw/20152nd.csv',mode='a')
            else:
                chunk.loc[(chunk['date']>='2015-04-01') & (chunk['date']<'2015-07-01')].to_csv('../data/raw/20152nd.csv',mode='a',header=False)
                
                
        if(len(chunk.loc[(chunk['date']>='2015-07-01') & (chunk['date']<'2015-10-01')].index) != 0):
            if(path20153rd.is_file() == False):    
                chunk.loc[(chunk['date']>='2015-07-01') & (chunk['date']<'2015-10-01')].to_csv('../data/raw/20153rd.csv',mode='a')
            else:
                chunk.loc[(chunk['date']>='2015-07-01') & (chunk['date']<'2015-10-01')].to_csv('../data/raw/20153rd.csv',mode='a',header=False)
        if(len(chunk.loc[(chunk['date']>='2015-10-01') & (chunk['date']<'2016-01-01')].index) != 0):
            if(path20154th.is_file()== False): 
                chunk.loc[(chunk['date']>='2015-10-01') & (chunk['date']<'2016-01-01')].to_csv('../data/raw/20154th.csv',mode='a')
            else:
                chunk.loc[(chunk['date']>='2015-10-01') & (chunk['date']<'2016-01-01')].to_csv('../data/raw/20154th.csv',mode='a',header=False)
                

        if(len(chunk.loc[(chunk['date']>='2016-01-01') & (chunk['date']<'2016-04-01')].index) != 0):
            if(path20161st.is_file()== False): 
                chunk.loc[(chunk['date']>='2016-01-01') & (chunk['date']<'2016-04-01')].to_csv('../data/raw/20161st.csv',mode='a')
            else:
                chunk.loc[(chunk['date']>='2016-01-01') & (chunk['date']<'2016-04-01')].to_csv('../data/raw/20161st.csv',mode='a',header=False)
        if(len(chunk.loc[(chunk['date']>='2016-04-01') & (chunk['date']<'2016-07-01')].index) != 0):
            if(path20162nd.is_file()== False): 
                chunk.loc[(chunk['date']>='2016-04-01') & (chunk['date']<'2016-07-01')].to_csv('../data/raw/20162nd.csv',mode='a')
            else:
                chunk.loc[(chunk['date']>='2016-04-01') & (chunk['date']<'2016-07-01')].to_csv('../data/raw/20162nd.csv',mode='a',header=False)
        if(len(chunk.loc[(chunk['date']>='2016-07-01') & (chunk['date']<'2016-10-01')].index) != 0):
            if(path20163rd.is_file()== False): 
                chunk.loc[(chunk['date']>='2016-07-01') & (chunk['date']<'2016-10-01')].to_csv('../data/raw/20163rd.csv',mode='a')
            else:
                chunk.loc[(chunk['date']>='2016-07-01') & (chunk['date']<'2016-10-01')].to_csv('../data/raw/20163rd.csv',mode='a',header=False)
        if(len(chunk.loc[(chunk['date']>='2016-10-01') & (chunk['date']<'2017-01-01')].index) != 0):
            if(path20164th.is_file()== False): 
                chunk.loc[(chunk['date']>='2016-10-01') & (chunk['date']<'2017-01-01')].to_csv('../data/raw/20164th.csv',mode='a')
            else:
                chunk.loc[(chunk['date']>='2016-10-01') & (chunk['date']<'2017-01-01')].to_csv('../data/raw/20164th.csv',mode='a',header=False)  
    
    
        if(len(chunk.loc[(chunk['date']>='2017-01-01')].index) != 0):
            if(path2017.is_file()== False): 
                chunk.loc[(chunk['date']>='2017-01-01')].to_csv('../data/raw/2017.csv',mode='a')
            else:
                chunk.loc[(chunk['date']>='2017-01-01')].to_csv('../data/raw/2017.csv',mode='a',header=False)

In [4]:
df20151st = pd.read_csv('../data/raw/20151st.csv',parse_dates=['date'],index_col=['msno'],dtype=dtype_cols)
df20152nd = pd.read_csv('../data/raw/20152nd.csv',parse_dates=['date'],index_col=['msno'],dtype=dtype_cols)
df20153rd = pd.read_csv('../data/raw/20153rd.csv',parse_dates=['date'],index_col=['msno'],dtype=dtype_cols)
df20154th = pd.read_csv('../data/raw/20154th.csv',parse_dates=['date'],index_col=['msno'],dtype=dtype_cols)

In [14]:
df20161st = pd.read_csv('../data/raw/20161st.csv',parse_dates=['date'],index_col=['msno'],dtype=dtype_cols)
df20162nd = pd.read_csv('../data/raw/20162nd.csv',parse_dates=['date'],index_col=['msno'],dtype=dtype_cols)
df20163rd = pd.read_csv('../data/raw/20163rd.csv',parse_dates=['date'],index_col=['msno'],dtype=dtype_cols)
df20164th = pd.read_csv('../data/raw/20164th.csv',parse_dates=['date'],index_col=['msno'],dtype=dtype_cols)

In [5]:
jantojun2015 = process_user_log(df20151st.loc[(df20151st['date']>='2015-01-01') & (df20151st['date']<'2015-02-01')])
jantojun2015 = pd.concat([jantojun2015 ,process_user_log(df20151st.loc[(df20151st['date']>='2015-02-01') & (df20151st['date']<'2015-03-01')])])
jantojun2015 = pd.concat([jantojun2015 ,process_user_log(df20151st.loc[(df20151st['date']>='2015-03-01') & (df20151st['date']<'2015-04-01')])])
jantojun2015 = pd.concat([jantojun2015 ,process_user_log(df20152nd.loc[(df20152nd['date']>='2015-04-01') & (df20152nd['date']<'2015-05-01')])])
jantojun2015 = pd.concat([jantojun2015 ,process_user_log(df20152nd.loc[(df20152nd['date']>='2015-05-01') & (df20152nd['date']<'2015-06-01')])])
jantojun2015 = pd.concat([jantojun2015 ,process_user_log(df20152nd.loc[(df20152nd['date']>='2015-06-01') & (df20152nd['date']<'2015-07-01')])])

In [6]:
jantojun2015.columns = ['date_min', 'date_max', 'date_count','num_25_sum','num_25_mean','num_50_sum','num_50_mean','num_75_sum',
                     'num_75_mean','num_985_sum','num_985_mean','num_100_sum','num_100_mean','num_unq_sum','num_unq_mean','total_secs_sum','total_secs_mean']

In [11]:
jultodec2015 = process_user_log(df20153rd.loc[(df20153rd['date']>='2015-07-01') & (df20153rd['date']<'2015-08-01')])
jultodec2015 = pd.concat([jultodec2015 ,process_user_log(df20153rd.loc[(df20153rd['date']>='2015-08-01') & (df20153rd['date']<'2015-09-01')])])   
jultodec2015 = pd.concat([jultodec2015 ,process_user_log(df20153rd.loc[(df20153rd['date']>='2015-09-01') & (df20153rd['date']<'2015-10-01')])])
jultodec2015 = pd.concat([jultodec2015 ,process_user_log(df20154th.loc[(df20154th['date']>='2015-10-01') & (df20154th['date']<'2015-11-01')])])  
jultodec2015 = pd.concat([jultodec2015 ,process_user_log(df20154th.loc[(df20154th['date']>='2015-11-01') & (df20154th['date']<'2015-12-01')])])   
jultodec2015 = pd.concat([jultodec2015 ,process_user_log(df20154th.loc[(df20154th['date']>='2015-12-01') & (df20154th['date']<'2016-01-01')])])

In [12]:
jultodec2015.columns = ['date_min', 'date_max', 'date_count','num_25_sum','num_25_mean','num_50_sum','num_50_mean','num_75_sum',
                     'num_75_mean','num_985_sum','num_985_mean','num_100_sum','num_100_mean','num_unq_sum','num_unq_mean','total_secs_sum','total_secs_mean']

In [16]:
jantojun2016 = process_user_log(df20161st.loc[(df20161st['date']>='2016-01-01') & (df20161st['date']<'2016-02-01')])
jantojun2016 = pd.concat([jantojun2016 ,process_user_log(df20161st.loc[(df20161st['date']>='2016-02-01') & (df20161st['date']<'2016-03-01')])])  
jantojun2016 = pd.concat([jantojun2016 ,process_user_log(df20161st.loc[(df20161st['date']>='2016-03-01') & (df20161st['date']<'2016-04-01')])]) 
jantojun2016 = pd.concat([jantojun2016 ,process_user_log(df20162nd.loc[(df20162nd['date']>='2016-04-01') & (df20162nd['date']<'2016-05-01')])])
jantojun2016 = pd.concat([jantojun2016 ,process_user_log(df20162nd.loc[(df20162nd['date']>='2016-05-01') & (df20162nd['date']<'2016-06-01')])])
jantojun2016 = pd.concat([jantojun2016 ,process_user_log(df20162nd.loc[(df20162nd['date']>='2016-06-01') & (df20162nd['date']<'2016-07-01')])])

In [17]:
jantojun2016.columns = ['date_min', 'date_max', 'date_count','num_25_sum','num_25_mean','num_50_sum','num_50_mean','num_75_sum',
                     'num_75_mean','num_985_sum','num_985_mean','num_100_sum','num_100_mean','num_unq_sum','num_unq_mean','total_secs_sum','total_secs_mean']

In [18]:
jultodec2016 = process_user_log(df20163rd.loc[(df20163rd['date']>='2016-07-01') & (df20163rd['date']<'2016-08-01')])
jultodec2016 = pd.concat([jultodec2016 ,process_user_log(df20163rd.loc[(df20163rd['date']>='2016-08-01') & (df20163rd['date']<'2016-09-01')])])
jultodec2016 = pd.concat([jultodec2016 ,process_user_log(df20163rd.loc[(df20163rd['date']>='2016-09-01') & (df20163rd['date']<'2016-10-01')])])
jultodec2016 = pd.concat([jultodec2016 ,process_user_log(df20164th.loc[(df20164th['date']>='2016-10-01') & (df20164th['date']<'2016-11-01')])])
jultodec2016 = pd.concat([jultodec2016 ,process_user_log(df20164th.loc[(df20164th['date']>='2016-11-01') & (df20164th['date']<'2016-12-01')])])
jultodec2016 = pd.concat([jultodec2016 ,process_user_log(df20164th.loc[(df20164th['date']>='2016-12-01') & (df20164th['date']<'2017-01-01')])])

In [19]:
jultodec2016.columns = ['date_min', 'date_max', 'date_count','num_25_sum','num_25_mean','num_50_sum','num_50_mean','num_75_sum',
                     'num_75_mean','num_985_sum','num_985_mean','num_100_sum','num_100_mean','num_unq_sum','num_unq_mean','total_secs_sum','total_secs_mean']

In [20]:
df2017 = pd.read_csv('../data/raw/2017.csv',parse_dates=['date'],index_col=['msno'],dtype=dtype_cols)

In [22]:
df2017V2 = pd.read_csv('../data/raw/user_logs_v2.csv',parse_dates=['date'],index_col=['msno'],dtype=dtype_cols)

In [23]:
df2017 = pd.concat([df2017,df2017V2])

In [25]:
jantomar2017 = process_user_log(df2017.loc[(df2017['date']>='2017-01-01') & (df2017['date']<'2017-02-01')])
jantomar2017 = pd.concat([jantomar2017 ,process_user_log(df2017.loc[(df2017['date']>='2017-02-01') & (df2017['date']<'2017-03-01')])])
jantomar2017 = pd.concat([jantomar2017 ,process_user_log(df2017.loc[(df2017['date']>='2017-03-01') & (df2017['date']<'2017-04-01')])])

In [26]:
jantomar2017.columns = ['date_min', 'date_max', 'date_count','num_25_sum','num_25_mean','num_50_sum','num_50_mean','num_75_sum',
                     'num_75_mean','num_985_sum','num_985_mean','num_100_sum','num_100_mean','num_unq_sum','num_unq_mean','total_secs_sum','total_secs_mean']

In [51]:
frames = [jantojun2015,jultodec2015,jantojun2016,jultodec2016,jantomar2017]
log_by_month = pd.concat(frames)

In [100]:
log_by_month.reset_index(inplace=True)

In [72]:
log_by_month.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27862865 entries, +++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s= to zzzueVTwIa5TjXnG2c77bohCVkuksqLkd5mQTP0wTwQ=
Data columns (total 17 columns):
 #   Column           Dtype
---  ------           -----
 0   date_min         datetime64[ns]
 1   date_max         datetime64[ns]
 2   date_count       int64
 3   num_25_sum       int32
 4   num_25_mean      float64
 5   num_50_sum       int32
 6   num_50_mean      float64
 7   num_75_sum       int32
 8   num_75_mean      float64
 9   num_985_sum      int32
 10  num_985_mean     float64
 11  num_100_sum      int32
 12  num_100_mean     float64
 13  num_unq_sum      int32
 14  num_unq_mean     float64
 15  total_secs_sum   float32
 16  total_secs_mean  float32
dtypes: datetime64[ns](2), float32(2), float64(6), int32(6), int64(1)
memory usage: 2.9+ GB

In [73]:
log_by_month.to_csv('../data/raw/Log_groupby_month.csv')

In [52]:
last_month_log = log_by_month.groupby('msno').nth(-1)
last_2nd_month_log = log_by_month.groupby('msno').nth(-2)
last_3rd_month_log = log_by_month.groupby('msno').nth(-3)

In [54]:
last_month_log.columns =['last_month_login_min','last_month_login_max','last_month_login_count','last_month_sum_num25','last_month_mean_num25','last_month_sum_num50',
              'last_month_mean_num50','last_month_sum_num75','last_month_mean_num75','last_month_sum_num985','last_month_mean_num985','last_month_sum_num_100','last_month_mean_num100','last_month_sum_num_unq',
                'last_month_mean_num_unq','last_month_total_secs_sum','last_month_total_secs_mean']
last_2nd_month_log.columns =['last_second_month_login_min','last_second_month_login_max','last_second_month_login_count','last_second_month_sum_num25','last_second_month_mean_num25','last_second_month_sum_num50',
              'last_second_month_mean_num50','last_second_month_sum_num75','last_second_month_mean_num75','last_second_month_sum_num985','last_second_month_mean_num985','last_second_month_sum_num_100','last_second_month_mean_num100','last_second_month_sum_num_unq',
                'last_second_month_mean_num_unq','last_month_total_secs_sum','last_month_total_secs_mean']
last_3rd_month_log.columns =['last_third_month_login_min','last_third_month_login_max','last_third_month_login_count','last_third_month_sum_num25','last_third_month_mean_num25','last_third_month_sum_num50',
              'last_third_month_mean_num50','last_third_month_sum_num75','last_third_month_mean_num75','last_third_month_sum_num985','last_third_month_mean_num985','last_third_month_sum_num_100','last_third_month_mean_num100','last_third_month_sum_num_unq',
                'last_third_month_mean_num_unq','last_month_total_secs_sum','last_month_total_secs_mean']

In [59]:
final_log = pd.merge(last_month_log,last_2nd_month_log,on='msno')

In [60]:
final_log = pd.merge(final_log,last_3rd_month_log,on='msno')

In [92]:
final_log.to_csv('../data/raw/finalLog.csv')

1647936

Total final log - # 1647936

In [132]:
final_log['diff_last2month_sum_num25'] = final_log['last_month_sum_num25']-final_log['last_second_month_sum_num25']
final_log['diff_last2month_mean_num25'] = final_log['last_month_mean_num25']-final_log['last_second_month_mean_num25']
final_log['diff_last2month_sum_num50'] = final_log['last_month_sum_num50']-final_log['last_second_month_sum_num50']
final_log['diff_last2month_sum_num75'] = final_log['last_month_sum_num75']-final_log['last_second_month_sum_num75']
final_log['diff_last2month_mean_num75'] = final_log['last_month_mean_num75']-final_log['last_second_month_mean_num75']
final_log['diff_last2month_sum_num985'] = final_log['last_month_sum_num985']-final_log['last_second_month_sum_num985']
final_log['diff_last2month_mean_num985'] = final_log['last_month_mean_num985']-final_log['last_second_month_mean_num985']
final_log['diff_last2month_sum_num100'] = final_log['last_month_sum_num_100']-final_log['last_second_month_sum_num_100']
final_log['diff_last2month_mean_num100'] = final_log['last_month_mean_num100']-final_log['last_second_month_mean_num100']
final_log['diff_last2month_sum_num_unq'] = final_log['last_month_sum_num_unq']-final_log['last_second_month_sum_num_unq']
final_log['diff_last2month_mean_num_unq'] = final_log['last_month_mean_num_unq']-final_log['last_second_month_mean_num_unq']

In [133]:
final_log.head()

,msno,last_month_login_min,last_month_login_max,last_month_login_count,last_month_sum_num25,last_month_mean_num25,last_month_sum_num50,last_month_mean_num50,last_month_sum_num75,last_month_mean_num75,...,diff_last2month_mean_num25,diff_last2month_sum_num50,diff_last2month_sum_num75,diff_last2month_mean_num75,diff_last2month_sum_num985,diff_last2month_mean_num985,diff_last2month_sum_num100,diff_last2month_mean_num100,diff_last2month_sum_num_unq,diff_last2month_mean_num_unq
0,++5g+uqJ/SDpyqr+5IIU1KZh75PbWqQz+9buMZ1XinQ=,2015-03-13,2015-03-13,1,1,1.00,2,2.00,0,0.0,...,1.00,2,0,0.000000,0,0.000000,0,0.000000,3,3.000000
1,++7bkVqNKquDGydOjxc1Tn2aX2XEEPcKOYWF7BF0U+E=,2015-03-01,2015-03-23,10,74,7.40,6,0.60,11,1.1,...,3.32,-23,0,0.660000,-20,-0.260000,-247,7.220000,-352,-4.180000
2,++CQ1VYBzjEJxVDqxPOlj10bmTl9FfGfzs/Dc9P8X0s=,2015-03-18,2015-03-18,1,0,0.00,1,1.00,0,0.0,...,-1.00,1,-1,-0.250000,-3,-0.750000,-53,-10.250000,-4,2.750000
3,++D1ATRKTN+xsS3u6kIYB1oReYIEzKqVHuNrLzEJSNQ=,2015-03-01,2015-03-09,4,13,3.25,1,0.25,0,0.0,...,1.50,0,-1,-0.250000,0,0.000000,19,4.750000,25,6.250000
4,++DsaTvc7MKXDXSDqoE0BlgtcxfpPRCXYiNBfwIg1rk=,2015-03-13,2015-03-13,1,1,1.00,0,0.00,0,0.0,...,-6.50,-4,-8,-1.333333,-4,-0.666667,-131,-21.833333,-177,-28.666667

In [134]:
final_log.to_csv('../data/raw/finalLog.csv')

In [135]:
train = pd.read_csv('../data/raw/train_v2.csv')

In [138]:
train_member = pd.read_csv('../data/processed/train_member.csv',parse_dates=['registration_init_time'])

In [139]:
transaction = pd.read_csv('../data/processed/transaction_features_final.csv')

In [141]:
final_dataset = pd.merge(train_member,transaction,on='msno',how='left')
final_dataset = pd.merge(final_dataset,final_log,on='msno',how='left')

In [151]:
final_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 860967 entries, 0 to 860966
Data columns (total 88 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   msno                            860967 non-null  object
 1   is_churn                        860967 non-null  int64
 2   city                            860967 non-null  float64
 3   bd                              860967 non-null  float64
 4   registered_via                  860967 non-null  float64
 5   registration_init_time          860967 non-null  datetime64[ns]
 6   registered_year                 860967 non-null  float64
 7   change_in_payment_method        860967 non-null  int64
 8   total_transaction               860967 non-null  int64
 9   max_payment_method              860967 non-null  int64
 10  avg_plan_days                   860967 non-null  float64
 11  sum_plan_days                   860967 non-null  int64
 12  change_in_plan_days             860967 non-null  int64
 13  avg_list_price                  860967 non-null  float64
 14  sum_list_price                  860967 non-null  int64
 15  change_in_list_price            860967 non-null  int64
 16  avg_amt_paid                    860967 non-null  float64
 17  sum_amt_paid                    860967 non-null  int64
 18  change_in_amt_paid              860967 non-null  int64
 19  avg_discount                    860967 non-null  float64
 20  sum_discount                    860967 non-null  int64
 21  last_cancel_status              860967 non-null  int64
 22  last_auto_renew                 860967 non-null  int64
 23  avg_days_diff_trans_exp         860967 non-null  float64
 24  autorenew_not_cancel_flag       860967 non-null  int64
 25  not_autorenew_cancel_flag       860967 non-null  int64
 26  last_month_login_min            800531 non-null  datetime64[ns]
 27  last_month_login_max            800531 non-null  datetime64[ns]
 28  last_month_login_count          800531 non-null  float64
 29  last_month_sum_num25            800531 non-null  float64
 30  last_month_mean_num25           800531 non-null  float64
 31  last_month_sum_num50            800531 non-null  float64
 32  last_month_mean_num50           800531 non-null  float64
 33  last_month_sum_num75            800531 non-null  float64
 34  last_month_mean_num75           800531 non-null  float64
 35  last_month_sum_num985           800531 non-null  float64
 36  last_month_mean_num985          800531 non-null  float64
 37  last_month_sum_num_100          800531 non-null  float64
 38  last_month_mean_num100          800531 non-null  float64
 39  last_month_sum_num_unq          800531 non-null  float64
 40  last_month_mean_num_unq         800531 non-null  float64
 41  last_month_total_secs_sum_x     800531 non-null  float32
 42  last_month_total_secs_mean_x    800531 non-null  float32
 43  last_second_month_login_min     800531 non-null  datetime64[ns]
 44  last_second_month_login_max     800531 non-null  datetime64[ns]
 45  last_second_month_login_count   800531 non-null  float64
 46  last_second_month_sum_num25     800531 non-null  float64
 47  last_second_month_mean_num25    800531 non-null  float64
 48  last_second_month_sum_num50     800531 non-null  float64
 49  last_second_month_mean_num50    800531 non-null  float64
 50  last_second_month_sum_num75     800531 non-null  float64
 51  last_second_month_mean_num75    800531 non-null  float64
 52  last_second_month_sum_num985    800531 non-null  float64
 53  last_second_month_mean_num985   800531 non-null  float64
 54  last_second_month_sum_num_100   800531 non-null  float64
 55  last_second_month_mean_num100   800531 non-null  float64
 56  last_second_month_sum_num_unq   800531 non-null  float64
 57  last_second_month_mean_num_unq  800531 non-null  float64
 58  last_month_total_secs_sum_y     800531 non-null  float32
 59  last_month_total_secs_mean_y    800531 non-null  float32
 60  last_third_month_login_min      800531 non-null  datetime64[ns]
 61  last_third_month_login_max      800531 non-null  datetime64[ns]
 62  last_third_month_login_count    800531 non-null  float64
 63  last_third_month_sum_num25      800531 non-null  float64
 64  last_third_month_mean_num25     800531 non-null  float64
 65  last_third_month_sum_num50      800531 non-null  float64
 66  last_third_month_mean_num50     800531 non-null  float64
 67  last_third_month_sum_num75      800531 non-null  float64
 68  last_third_month_mean_num75     800531 non-null  float64
 69  last_third_month_sum_num985     800531 non-null  float64
 70  last_third_month_mean_num985    800531 non-null  float64
 71  last_third_month_sum_num_100    800531 non-null  float64
 72  last_third_month_mean_num100    800531 non-null  float64
 73  last_third_month_sum_num_unq    800531 non-null  float64
 74  last_third_month_mean_num_unq   800531 non-null  float64
 75  last_month_total_secs_sum       800531 non-null  float32
 76  last_month_total_secs_mean      800531 non-null  float32
 77  diff_last2month_sum_num25       800531 non-null  float64
 78  diff_last2month_mean_num25      800531 non-null  float64
 79  diff_last2month_sum_num50       800531 non-null  float64
 80  diff_last2month_sum_num75       800531 non-null  float64
 81  diff_last2month_mean_num75      800531 non-null  float64
 82  diff_last2month_sum_num985      800531 non-null  float64
 83  diff_last2month_mean_num985     800531 non-null  float64
 84  diff_last2month_sum_num100      800531 non-null  float64
 85  diff_last2month_mean_num100     800531 non-null  float64
 86  diff_last2month_sum_num_unq     800531 non-null  float64
 87  diff_last2month_mean_num_unq    800531 non-null  float64
dtypes: datetime64[ns](7), float32(6), float64(59), int64(15), object(1)
memory usage: 558.3+ MB

In [154]:
final_dataset.dropna(inplace=True)

In [155]:
final_dataset.to_csv('../data/processed/Final_data.csv')