In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import collections
from functools import reduce

# Read march log files

In [4]:
log_mar=pd.read_csv('../data/raw/user_logs_v2.csv',parse_dates=['date'])

In [5]:
def reducedatatype(df):
    int_col = list(df.select_dtypes(include=[int]).columns)
    for col in int_col:
        if((np.min(df[col]) >= -127) and (np.max(df[col]) <= 127)):
            df[col] = df[col].astype(np.int8)
        elif((np.min(df[col]) >= -32768) and (np.max(df[col]) <= 32768)):
            df[col] = df[col].astype(np.int16)
        elif((np.min(df[col]) >= -2147483647) and (np.max(df[col]) <= 2147483647)):
            df[col] = df[col].astype(np.int32)
        else:
            df[col] = df[col].astype(np.int64)
    int_float = list(df.select_dtypes(include=[float]).columns)
    for col in int_float:
        df[col] = df[col].astype(np.float32)

In [7]:
reducedatatype(log_mar)

In [10]:
log_mar.head(2)

,msno,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
0,u9E91QDTvHLq6NXjEaWv8u4QIqhrHk72kE+w31Gnhdg=,2017-03-31,8,4,0,1,21,18,6309.272949
1,nTeWW/eOZA/UHKdD5L7DEqKKFTjaAj3ALLPoAWsU8n0=,2017-03-30,2,2,1,0,9,11,2390.698975

In [12]:
# feature number of log in march
mar_login_count = log_mar.groupby('msno')['date'].count()

In [13]:
# feature last login in date
mar_last_login = log_mar.groupby('msno')['date'].max()

In [14]:
# feature active days in march
mar_active_days = log_mar.groupby('msno')['date'].nunique()

In [53]:
# feature inactive days in march (total 31 days in march 2017)
mar_inactive_days = 31 - mar_active_days
mar_inactive_days.rename('mar_inactive_days',inplace=True)

msno
+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=     5
+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=     0
+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=     3
+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=    10
++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=     2
                                                ..
zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=     0
zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=    15
zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=    11
zzzF1KsGfHH3qI6qiSNSXC35UXmVKMVFdxkp7xmDMc0=    20
zzzueVTwIa5TjXnG2c77bohCVkuksqLkd5mQTP0wTwQ=    30
Name: mar_inactive_days, Length: 1103894, dtype: int64

In [16]:
# feature sum of num_25
mar_sum_num25 = log_mar.groupby('msno')['num_25'].sum()

In [17]:
# feature mean of num_25
mar_mean_num25 = log_mar.groupby('msno')['num_25'].mean()

In [18]:
# feature sum of num_50
mar_sum_num50 = log_mar.groupby('msno')['num_50'].sum()

In [19]:
# feature mean of num_50
mar_mean_num50 = log_mar.groupby('msno')['num_50'].mean()

In [20]:
# feature sum of num_75
mar_sum_num75 = log_mar.groupby('msno')['num_75'].sum()

In [21]:
# feature mean of num_75
mar_mean_num75 = log_mar.groupby('msno')['num_75'].mean()

In [22]:
# feature sum of num_985
mar_sum_num985 = log_mar.groupby('msno')['num_985'].sum()

In [23]:
# feature mean of num_985
mar_mean_num985 = log_mar.groupby('msno')['num_985'].mean()

In [24]:
# feature sum of num_100
mar_sum_num_100 = log_mar.groupby('msno')['num_100'].sum()

In [25]:
# feature mean of num_100
mar_mean_num100 = log_mar.groupby('msno')['num_100'].mean()

In [26]:
# feature sum of num_unq
mar_sum_num_unq = log_mar.groupby('msno')['num_unq'].sum()

In [27]:
# feature mean of num_unq
mar_mean_num_unq = log_mar.groupby('msno')['num_unq'].mean()

In [72]:
mar_feature = [mar_login_count,mar_last_login,mar_active_days,mar_inactive_days,mar_sum_num25,mar_mean_num25,mar_sum_num50,
              mar_mean_num50,mar_sum_num75,mar_mean_num75,mar_sum_num985,mar_mean_num985,mar_sum_num_100,mar_mean_num100,mar_sum_num_unq,
                mar_mean_num_unq]

In [73]:
user_mar_feature = reduce(lambda left,right: pd.merge(left,right,on='msno'),mar_feature)

In [74]:
user_mar_feature.columns = ['mar_login_count','mar_last_login','mar_active_days','mar_inactive_days','mar_sum_num25','mar_mean_num25','mar_sum_num50',
              'mar_mean_num50','mar_sum_num75','mar_mean_num75','mar_sum_num985','mar_mean_num985','mar_sum_num_100','mar_mean_num100','mar_sum_num_unq',
                'mar_mean_num_unq']

In [82]:
user_mar_feature.to_csv('../data/processed/user_features_mar.csv')

In [116]:
user_mar_feature.head()

,mar_login_count,mar_last_login,mar_active_days,mar_inactive_days,mar_sum_num25,mar_mean_num25,mar_sum_num50,mar_mean_num50,mar_sum_num75,mar_mean_num75,mar_sum_num985,mar_mean_num985,mar_sum_num_100,mar_mean_num100,mar_sum_num_unq,mar_mean_num_unq
msno,,,,,,,,,,,,,,,,
+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,26,2017-03-31,26,5,86,3.307692,11,0.423077,10,0.384615,5,0.192308,472,18.153846,530,20.384615
+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,31,2017-03-31,31,0,191,6.161290,90,2.903226,75,2.419355,144,4.645161,589,19.000000,885,28.548387
+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,28,2017-03-31,28,3,43,1.535714,12,0.428571,15,0.535714,12,0.428571,485,17.321429,468,16.714286
+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,21,2017-03-30,21,10,207,9.857143,163,7.761905,100,4.761905,64,3.047619,436,20.761905,828,39.428571
++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,29,2017-03-31,29,2,105,3.620690,24,0.827586,39,1.344828,35,1.206897,479,16.517241,230,7.931034

# Read feb log files

In [8]:
log_feb=pd.read_csv('../data/processed/feb_log.csv',parse_dates=['date'])

In [9]:
reducedatatype(log_feb)

In [44]:
# feature number of log in feb
feb_login_count = log_feb.groupby('msno')['date'].count()

In [45]:
# feature last login in date
feb_last_login = log_feb.groupby('msno')['date'].max()

In [46]:
# feature active days in feb
feb_active_days = log_feb.groupby('msno')['date'].nunique()

In [52]:
# feature inactive days in feb (total 28 days in feb 2017)
feb_inactive_days = 28 - feb_active_days
feb_inactive_days.rename('feb_inactive_days',inplace=True)

msno
+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=    11
+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=     1
+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=     0
+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=     8
++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=     3
                                                ..
zzxqpgPX1epGyR3SVRKb3XitWdt+JqDURxV5ea1D7Cg=     3
zzy0oyiTnRTo5Mbg23oKbBkf9eoaS7+eU4V+d14bzfY=    19
zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=     2
zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=    11
zzzF1KsGfHH3qI6qiSNSXC35UXmVKMVFdxkp7xmDMc0=    15
Name: feb_inactive_days, Length: 1114164, dtype: int64

In [32]:
# feature sum of num_25
feb_sum_num25 = log_feb.groupby('msno')['num_25'].sum()

In [33]:
# feature mean of num_25
feb_mean_num25 = log_feb.groupby('msno')['num_25'].mean()

In [34]:
# feature sum of num_50
feb_sum_num50 = log_feb.groupby('msno')['num_50'].sum()

In [35]:
# feature mean of num_50
feb_mean_num50 = log_feb.groupby('msno')['num_50'].mean()

In [36]:
# feature sum of num_75
feb_sum_num75 = log_feb.groupby('msno')['num_75'].sum()

In [37]:
# feature mean of num_75
feb_mean_num75 = log_feb.groupby('msno')['num_75'].mean()

In [38]:
# feature sum of num_985
feb_sum_num985 = log_feb.groupby('msno')['num_985'].sum()

In [39]:
# feature mean of num_985
feb_mean_num985 = log_feb.groupby('msno')['num_985'].mean()

In [40]:
# feature sum of num_100
feb_sum_num_100 = log_feb.groupby('msno')['num_100'].sum()

In [41]:
# feature mean of num_100
feb_mean_num100 = log_feb.groupby('msno')['num_100'].mean()

In [42]:
# feature sum of num_unq
feb_sum_num_unq = log_feb.groupby('msno')['num_unq'].sum()

In [43]:
# feature mean of num_unq
feb_mean_num_unq = log_feb.groupby('msno')['num_unq'].mean()

In [75]:
feb_feature = [feb_login_count,feb_last_login,feb_active_days,feb_inactive_days,feb_sum_num25,feb_mean_num25,feb_sum_num50,
              feb_mean_num50,feb_sum_num75,feb_mean_num75,feb_sum_num985,feb_mean_num985,feb_sum_num_100,feb_mean_num100,feb_sum_num_unq,
                feb_mean_num_unq]

In [76]:
user_feb_feature = reduce(lambda left,right: pd.merge(left,right,on='msno'),feb_feature)

In [77]:
user_feb_feature.columns = ['feb_login_count','feb_last_login','feb_active_days','feb_inactive_days','feb_sum_num25','feb_mean_num25','feb_sum_num50',
              'feb_mean_num50','feb_sum_num75','feb_mean_num75','feb_sum_num985','feb_mean_num985','feb_sum_num_100','feb_mean_num100','feb_sum_num_unq',
                'feb_mean_num_unq']

In [83]:
user_feb_feature.to_csv('../data/processed/user_features_feb.csv')

# Read Jan log file

In [10]:
log_jan=pd.read_csv('../data/processed/jan_log.csv',parse_dates=['date'])

In [11]:
reducedatatype(log_jan)

In [54]:
# feature number of log in feb
jan_login_count = log_jan.groupby('msno')['date'].count()

In [55]:
# feature last login in date
jan_last_login = log_jan.groupby('msno')['date'].max()

In [56]:
# feature active days in feb
jan_active_days = log_jan.groupby('msno')['date'].nunique()

In [57]:
# feature inactive days in jan (total 31 days in jan 2017)
jan_inactive_days = 31 - jan_active_days
jan_inactive_days.rename('jan_inactive_days',inplace=True)

msno
+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=     8
+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=     1
+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=     0
+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=     4
++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=     4
                                                ..
zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=     1
zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=    23
zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=    27
zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=    21
zzzF1KsGfHH3qI6qiSNSXC35UXmVKMVFdxkp7xmDMc0=    30
Name: jan_inactive_days, Length: 1136003, dtype: int64

In [58]:
# feature sum of num_25
jan_sum_num25 = log_jan.groupby('msno')['num_25'].sum()

In [59]:
# feature mean of num_25
jan_mean_num25 = log_jan.groupby('msno')['num_25'].mean()

In [60]:
# feature sum of num_50
jan_sum_num50 = log_jan.groupby('msno')['num_50'].sum()

In [61]:
# feature mean of num_50
jan_mean_num50 = log_jan.groupby('msno')['num_50'].mean()

In [62]:
# feature sum of num_75
jan_sum_num75 = log_jan.groupby('msno')['num_75'].sum()

In [63]:
# feature mean of num_75
jan_mean_num75 = log_jan.groupby('msno')['num_75'].mean()

In [64]:
# feature sum of num_985
jan_sum_num985 = log_jan.groupby('msno')['num_985'].sum()

In [65]:
# feature mean of num_985
jan_mean_num985 = log_jan.groupby('msno')['num_985'].mean()

In [66]:
# feature sum of num_100
jan_sum_num_100 = log_jan.groupby('msno')['num_100'].sum()

In [67]:
# feature mean of num_100
jan_mean_num100 = log_jan.groupby('msno')['num_100'].mean()

In [68]:
# feature sum of num_unq
jan_sum_num_unq = log_jan.groupby('msno')['num_unq'].sum()

In [69]:
# feature mean of num_unq
jan_mean_num_unq = log_jan.groupby('msno')['num_unq'].mean()

In [78]:
jan_feature = [jan_login_count,jan_last_login,jan_active_days,jan_inactive_days,jan_sum_num25,jan_mean_num25,jan_sum_num50,
              jan_mean_num50,jan_sum_num75,jan_mean_num75,jan_sum_num985,jan_mean_num985,jan_sum_num_100,jan_mean_num100,jan_sum_num_unq,
                jan_mean_num_unq]

In [79]:
user_jan_feature = reduce(lambda left,right: pd.merge(left,right,on='msno'),jan_feature)

In [80]:
user_jan_feature.columns = ['jan_login_count','jan_last_login','jan_active_days','jan_inactive_days','jan_sum_num25','jan_mean_num25','jan_sum_num50',
              'jan_mean_num50','jan_sum_num75','jan_mean_num75','jan_sum_num985','jan_mean_num985','jan_sum_num_100','jan_mean_num100','jan_sum_num_unq',
                'jan_mean_num_unq']

In [84]:
user_jan_feature.to_csv('../data/processed/user_features_jan.csv')

# find last active month for the user and renaming above created feature as their last month

In [12]:
grouped_log = pd.concat([log_jan,log_feb,log_mar])

In [98]:
[grouped_log['msno'] == 'MtHMXW0wUxm8EySrwOudouUT84MahwTz/wYJVmvwPgs=']

,msno,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
11,MtHMXW0wUxm8EySrwOudouUT84MahwTz/wYJVmvwPgs=,2017-01-18,4,0,1,0,5,8,1281.170044
655951,MtHMXW0wUxm8EySrwOudouUT84MahwTz/wYJVmvwPgs=,2017-01-19,0,0,1,0,6,7,1396.958984
1020694,MtHMXW0wUxm8EySrwOudouUT84MahwTz/wYJVmvwPgs=,2017-01-21,224,7,3,3,149,227,29254.851562
1099854,MtHMXW0wUxm8EySrwOudouUT84MahwTz/wYJVmvwPgs=,2017-01-22,12,0,0,0,38,12,7987.675781
1726828,MtHMXW0wUxm8EySrwOudouUT84MahwTz/wYJVmvwPgs=,2017-01-23,0,0,0,0,4,1,1109.260010
...,...,...,...,...,...,...,...,...,...
10262595,MtHMXW0wUxm8EySrwOudouUT84MahwTz/wYJVmvwPgs=,2017-02-24,1,1,0,1,21,19,5887.774902
10381088,MtHMXW0wUxm8EySrwOudouUT84MahwTz/wYJVmvwPgs=,2017-02-25,19,6,6,4,43,51,14592.582031
10869399,MtHMXW0wUxm8EySrwOudouUT84MahwTz/wYJVmvwPgs=,2017-02-26,7,6,6,2,65,39,18022.314453
11099195,MtHMXW0wUxm8EySrwOudouUT84MahwTz/wYJVmvwPgs=,2017-02-27,1,0,0,2,170,7,41623.835938
11415765,MtHMXW0wUxm8EySrwOudouUT84MahwTz/wYJVmvwPgs=,2017-02-28,4,4,3,0,206,37,50667.792969

In [13]:
min_date_2weeks = grouped_log.groupby('msno')['date'].transform('max')-pd.DateOffset(days=14)

In [14]:
last_2weeks_active = grouped_log[grouped_log['date'] > min_date_2weeks]

In [18]:
# feature last login in date
week2_last_login = last_2weeks_active.groupby('msno')['date'].max()

In [19]:
# feature active days 
week2_active_days = last_2weeks_active.groupby('msno')['date'].nunique()

In [20]:
# feature sum of num_25
week2_sum_num25 = last_2weeks_active.groupby('msno')['num_25'].sum()

In [21]:
# feature mean of num_25
week2_mean_num25 = last_2weeks_active.groupby('msno')['num_25'].mean()

In [22]:
# feature sum of num_50
week2_sum_num50 = last_2weeks_active.groupby('msno')['num_50'].sum()

In [23]:
# feature mean of num_50
week2_mean_num50 = last_2weeks_active.groupby('msno')['num_50'].mean()

In [24]:
# feature sum of num_75
week2_sum_num75 = last_2weeks_active.groupby('msno')['num_75'].sum()

In [25]:
# feature mean of num_75
week2_mean_num75 = last_2weeks_active.groupby('msno')['num_75'].mean()

In [26]:
# feature sum of num_985
week2_sum_num985 = last_2weeks_active.groupby('msno')['num_985'].sum()

In [27]:
# feature mean of num_985
week2_mean_num985 = last_2weeks_active.groupby('msno')['num_985'].mean()

In [28]:
# feature sum of num_100
week2_sum_num_100 = last_2weeks_active.groupby('msno')['num_100'].sum()

In [29]:
# feature mean of num_100
week2_mean_num100 = last_2weeks_active.groupby('msno')['num_100'].mean()

In [30]:
# feature sum of num_unq
week2_sum_num_unq = last_2weeks_active.groupby('msno')['num_unq'].sum()

In [31]:
# feature mean of num_unq
week2_mean_num_unq = last_2weeks_active.groupby('msno')['num_unq'].mean()

In [33]:
week2_feature = [week2_last_login,week2_active_days,week2_sum_num25,week2_mean_num25,week2_sum_num50,
              week2_mean_num50,week2_sum_num75,week2_mean_num75,week2_sum_num985,week2_mean_num985,week2_sum_num_100,week2_mean_num100,week2_sum_num_unq,
                week2_mean_num_unq]

In [34]:
user_log_2week_feature = reduce(lambda left,right: pd.merge(left,right,on='msno'),week2_feature)

In [35]:
user_log_2week_feature.columns = ['2week_last_login','2week_active_days','2week_sum_num25','2week_mean_num25','2week_sum_num50',
              '2week_mean_num50','2week_sum_num75','2week_mean_num75','2week_sum_num985','2week_mean_num985','2week_sum_num_100','2week_mean_num100','2week_sum_num_unq',
                '2week_mean_num_unq']

In [37]:
user_log_2week_feature.to_csv('../data/processed/user_log_2week_feature.csv')

In [7]:
log_active_2week = pd.read_csv('../data/processed/user_log_2week_feature.csv',parse_dates=['2week_last_login'])
log_last_month = pd.read_csv('../data/processed/user_features_mar.csv',parse_dates=['mar_last_login'])
log_last_second_month = pd.read_csv('../data/processed/user_features_feb.csv',parse_dates=['feb_last_login'])
log_last_third_month = pd.read_csv('../data/processed/user_features_jan.csv',parse_dates=['jan_last_login'])

In [9]:
log_last_month.columns =['msno','last_month_login_count','last_month_last_login','last_month_active_days','last_month_inactive_days','last_month_sum_num25','last_month_mean_num25','last_month_sum_num50',
              'last_month_mean_num50','last_month_sum_num75','last_month_mean_num75','last_month_sum_num985','last_month_mean_num985','last_month_sum_num_100','last_month_mean_num100','last_month_sum_num_unq',
                'last_month_mean_num_unq']

In [10]:
log_last_month.head(1)

,msno,last_month_login_count,last_month_last_login,last_month_active_days,last_month_inactive_days,last_month_sum_num25,last_month_mean_num25,last_month_sum_num50,last_month_mean_num50,last_month_sum_num75,last_month_mean_num75,last_month_sum_num985,last_month_mean_num985,last_month_sum_num_100,last_month_mean_num100,last_month_sum_num_unq,last_month_mean_num_unq
0,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,26,2017-03-31,26,5,86,3.307692,11,0.423077,10,0.384615,5,0.192308,472,18.153846,530,20.384615

In [18]:
log_last_second_month.columns =['msno','last_second_month_login_count','last_second_month_last_login','last_second_month_active_days','last_second_month_inactive_days','last_second_month_sum_num25','last_second_month_mean_num25','last_second_month_sum_num50',
              'last_second_month_mean_num50','last_second_month_sum_num75','last_second_month_mean_num75','last_second_month_sum_num985','last_second_month_mean_num985','last_second_month_sum_num_100','last_second_month_mean_num100','last_second_month_sum_num_unq',
                'last_second_month_mean_num_unq']

In [20]:
log_last_third_month.columns =['msno','last_third_month_login_count','last_third_month_last_login','last_third_month_active_days','last_third_month_inactive_days','last_third_month_sum_num25','last_third_month_mean_num25','last_third_month_sum_num50',
              'last_third_month_mean_num50','last_third_month_sum_num75','last_third_month_mean_num75','last_third_month_sum_num985','last_third_month_mean_num985','last_third_month_sum_num_100','last_third_month_mean_num100','last_third_month_sum_num_unq',
                'last_third_month_mean_num_unq']

login_count and active_days are same feature, so dropping one

In [13]:
log_last_month.drop('last_month_login_count',axis=1,inplace=True)
log_last_second_month.drop('last_second_month_login_count',axis=1,inplace=True)
log_last_third_month.drop('last_third_month_login_count',axis=1,inplace=True)

In [21]:
combined_user_log = pd.merge(log_last_month,log_last_second_month,on='msno',how='left')
combined_user_log = pd.merge(combined_user_log,log_last_third_month,on='msno',how='left')
combined_user_log = pd.merge(combined_user_log,log_active_2week,on='msno',how='left')

drop inactive column since they active and inactive are NA is some months. it might confuse

In [22]:
log_last_month.drop('last_month_inactive_days',axis=1,inplace=True)
log_last_second_month.drop('last_second_month_inactive_days',axis=1,inplace=True)
log_last_third_month.drop('last_third_month_inactive_days',axis=1,inplace=True)

In [26]:
combined_user_log.fillna(0,inplace=True)

difference between last 2 months

In [27]:
combined_user_log['diff_last2month_active_days'] = combined_user_log['last_month_active_days']-combined_user_log['last_second_month_active_days']
combined_user_log['diff_last2month_sum_num25'] = combined_user_log['last_month_sum_num25']-combined_user_log['last_second_month_sum_num25']
combined_user_log['diff_last2month_mean_num25'] = combined_user_log['last_month_mean_num25']-combined_user_log['last_second_month_mean_num25']
combined_user_log['diff_last2month_sum_num50'] = combined_user_log['last_month_sum_num50']-combined_user_log['last_second_month_sum_num50']
combined_user_log['diff_last2month_sum_num75'] = combined_user_log['last_month_sum_num75']-combined_user_log['last_second_month_sum_num75']
combined_user_log['diff_last2month_mean_num75'] = combined_user_log['last_month_mean_num75']-combined_user_log['last_second_month_mean_num75']
combined_user_log['diff_last2month_sum_num985'] = combined_user_log['last_month_sum_num985']-combined_user_log['last_second_month_sum_num985']
combined_user_log['diff_last2month_mean_num985'] = combined_user_log['last_month_mean_num985']-combined_user_log['last_second_month_mean_num985']
combined_user_log['diff_last2month_sum_num100'] = combined_user_log['last_month_sum_num_100']-combined_user_log['last_second_month_sum_num_100']
combined_user_log['diff_last2month_mean_num100'] = combined_user_log['last_month_mean_num100']-combined_user_log['last_second_month_mean_num100']
combined_user_log['diff_last2month_sum_num_unq'] = combined_user_log['last_month_sum_num_unq']-combined_user_log['last_second_month_sum_num_unq']
combined_user_log['diff_last2month_mean_num_unq'] = combined_user_log['last_month_mean_num_unq']-combined_user_log['last_second_month_mean_num_unq']

In [28]:
combined_user_log.isnull().sum()

msno                            0
last_month_last_login           0
last_month_active_days          0
last_month_inactive_days        0
last_month_sum_num25            0
                               ..
diff_last2month_mean_num985     0
diff_last2month_sum_num100      0
diff_last2month_mean_num100     0
diff_last2month_sum_num_unq     0
diff_last2month_mean_num_unq    0
Length: 72, dtype: int64

In [29]:
combined_user_log.head(5)

,msno,last_month_last_login,last_month_active_days,last_month_inactive_days,last_month_sum_num25,last_month_mean_num25,last_month_sum_num50,last_month_mean_num50,last_month_sum_num75,last_month_mean_num75,...,diff_last2month_mean_num25,diff_last2month_sum_num50,diff_last2month_sum_num75,diff_last2month_mean_num75,diff_last2month_sum_num985,diff_last2month_mean_num985,diff_last2month_sum_num100,diff_last2month_mean_num100,diff_last2month_sum_num_unq,diff_last2month_mean_num_unq
0,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,2017-03-31,26,5,86,3.307692,11,0.423077,10,0.384615,...,2.190045,5.0,6.0,0.149321,-8.0,-0.572398,-416.0,-34.081448,-216.0,-23.497738
1,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,2017-03-31,31,0,191,6.161290,90,2.903226,75,2.419355,...,1.864994,29.0,17.0,0.271207,30.0,0.422939,121.0,1.666667,243.0,4.770609
2,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,2017-03-31,28,3,43,1.535714,12,0.428571,15,0.535714,...,0.500000,-5.0,0.0,0.000000,-10.0,-0.357143,-277.0,-9.892857,-254.0,-9.071429
3,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,2017-03-30,21,10,207,9.857143,163,7.761905,100,4.761905,...,0.457143,83.0,54.0,2.461905,18.0,0.747619,53.0,1.611905,277.0,11.878571
4,++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,2017-03-31,29,2,105,3.620690,24,0.827586,39,1.344828,...,-0.499310,-23.0,12.0,0.264828,3.0,-0.073103,221.0,6.197241,36.0,0.171034

In [30]:
combined_user_log.to_csv('../data/processed/final_user_log.csv')

Combine member,transaction and final log

In [31]:
member_train = pd.read_csv('../data/processed/train_member.csv',parse_dates=['registration_init_time'])

In [32]:
transaction = pd.read_csv('../data/processed/transaction_features_final.csv')

In [33]:
transaction.isnull().sum()

msno                         0
change_in_payment_method     0
total_transaction            0
max_payment_method           0
avg_plan_days                0
sum_plan_days                0
change_in_plan_days          0
avg_list_price               0
sum_list_price               0
change_in_list_price         0
avg_amt_paid                 0
sum_amt_paid                 0
change_in_amt_paid           0
avg_discount                 0
sum_discount                 0
last_cancel_status           0
last_auto_renew              0
avg_days_diff_trans_exp      0
autorenew_not_cancel_flag    0
not_autorenew_cancel_flag    0
dtype: int64

In [34]:
member_train.isnull().sum()

msno                      0
is_churn                  0
city                      0
bd                        0
registered_via            0
registration_init_time    0
registered_year           0
dtype: int64

In [35]:
final_dataset = pd.merge(member_train,transaction,on='msno',how='left')
final_dataset = pd.merge(final_dataset,combined_user_log,on='msno',how='left')

last login date may not be useful after extracting other details - we can drop it. also we have extracted year from registration time, we can drop it

In [38]:
final_dataset.drop(['last_month_last_login','last_second_month_last_login','last_third_month_last_login','2week_last_login','registration_init_time'],axis=1,inplace=True)

In [39]:
final_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 860967 entries, 0 to 860966
Data columns (total 92 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   msno                             860967 non-null  object
 1   is_churn                         860967 non-null  int64
 2   city                             860967 non-null  float64
 3   bd                               860967 non-null  float64
 4   registered_via                   860967 non-null  float64
 5   registered_year                  860967 non-null  float64
 6   change_in_payment_method         860967 non-null  int64
 7   total_transaction                860967 non-null  int64
 8   max_payment_method               860967 non-null  int64
 9   avg_plan_days                    860967 non-null  float64
 10  sum_plan_days                    860967 non-null  int64
 11  change_in_plan_days              860967 non-null  int64
 12  avg_list_price                   860967 non-null  float64
 13  sum_list_price                   860967 non-null  int64
 14  change_in_list_price             860967 non-null  int64
 15  avg_amt_paid                     860967 non-null  float64
 16  sum_amt_paid                     860967 non-null  int64
 17  change_in_amt_paid               860967 non-null  int64
 18  avg_discount                     860967 non-null  float64
 19  sum_discount                     860967 non-null  int64
 20  last_cancel_status               860967 non-null  int64
 21  last_auto_renew                  860967 non-null  int64
 22  avg_days_diff_trans_exp          860967 non-null  float64
 23  autorenew_not_cancel_flag        860967 non-null  int64
 24  not_autorenew_cancel_flag        860967 non-null  int64
 25  last_month_active_days           754532 non-null  float64
 26  last_month_inactive_days         754532 non-null  float64
 27  last_month_sum_num25             754532 non-null  float64
 28  last_month_mean_num25            754532 non-null  float64
 29  last_month_sum_num50             754532 non-null  float64
 30  last_month_mean_num50            754532 non-null  float64
 31  last_month_sum_num75             754532 non-null  float64
 32  last_month_mean_num75            754532 non-null  float64
 33  last_month_sum_num985            754532 non-null  float64
 34  last_month_mean_num985           754532 non-null  float64
 35  last_month_sum_num_100           754532 non-null  float64
 36  last_month_mean_num100           754532 non-null  float64
 37  last_month_sum_num_unq           754532 non-null  float64
 38  last_month_mean_num_unq          754532 non-null  float64
 39  last_second_month_active_days    754532 non-null  float64
 40  last_second_month_inactive_days  754532 non-null  float64
 41  last_second_month_sum_num25      754532 non-null  float64
 42  last_second_month_mean_num25     754532 non-null  float64
 43  last_second_month_sum_num50      754532 non-null  float64
 44  last_second_month_mean_num50     754532 non-null  float64
 45  last_second_month_sum_num75      754532 non-null  float64
 46  last_second_month_mean_num75     754532 non-null  float64
 47  last_second_month_sum_num985     754532 non-null  float64
 48  last_second_month_mean_num985    754532 non-null  float64
 49  last_second_month_sum_num_100    754532 non-null  float64
 50  last_second_month_mean_num100    754532 non-null  float64
 51  last_second_month_sum_num_unq    754532 non-null  float64
 52  last_second_month_mean_num_unq   754532 non-null  float64
 53  last_third_month_active_days     754532 non-null  float64
 54  last_third_month_inactive_days   754532 non-null  float64
 55  last_third_month_sum_num25       754532 non-null  float64
 56  last_third_month_mean_num25      754532 non-null  float64
 57  last_third_month_sum_num50       754532 non-null  float64
 58  last_third_month_mean_num50      754532 non-null  float64
 59  last_third_month_sum_num75       754532 non-null  float64
 60  last_third_month_mean_num75      754532 non-null  float64
 61  last_third_month_sum_num985      754532 non-null  float64
 62  last_third_month_mean_num985     754532 non-null  float64
 63  last_third_month_sum_num_100     754532 non-null  float64
 64  last_third_month_mean_num100     754532 non-null  float64
 65  last_third_month_sum_num_unq     754532 non-null  float64
 66  last_third_month_mean_num_unq    754532 non-null  float64
 67  2week_active_days                754532 non-null  float64
 68  2week_sum_num25                  754532 non-null  float64
 69  2week_mean_num25                 754532 non-null  float64
 70  2week_sum_num50                  754532 non-null  float64
 71  2week_mean_num50                 754532 non-null  float64
 72  2week_sum_num75                  754532 non-null  float64
 73  2week_mean_num75                 754532 non-null  float64
 74  2week_sum_num985                 754532 non-null  float64
 75  2week_mean_num985                754532 non-null  float64
 76  2week_sum_num_100                754532 non-null  float64
 77  2week_mean_num100                754532 non-null  float64
 78  2week_sum_num_unq                754532 non-null  float64
 79  2week_mean_num_unq               754532 non-null  float64
 80  diff_last2month_active_days      754532 non-null  float64
 81  diff_last2month_sum_num25        754532 non-null  float64
 82  diff_last2month_mean_num25       754532 non-null  float64
 83  diff_last2month_sum_num50        754532 non-null  float64
 84  diff_last2month_sum_num75        754532 non-null  float64
 85  diff_last2month_mean_num75       754532 non-null  float64
 86  diff_last2month_sum_num985       754532 non-null  float64
 87  diff_last2month_mean_num985      754532 non-null  float64
 88  diff_last2month_sum_num100       754532 non-null  float64
 89  diff_last2month_mean_num100      754532 non-null  float64
 90  diff_last2month_sum_num_unq      754532 non-null  float64
 91  diff_last2month_mean_num_unq     754532 non-null  float64
dtypes: float64(76), int64(15), object(1)
memory usage: 610.9+ MB

In [40]:
final_dataset.to_csv('../data/processed/final_dataset.csv')